/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.evkj-widget {
   border: 1px solid #ccc;
   background-color : #fff;
}

.evkj-copyright {
   color : blue; 
   font-size : 0.1em;
   margin: 0 5% 1em;
}

.lk_widget_body { /* Im Plugin nicht genutzt, da body entfernt */
	margin: 0;
}

.lk_widget {
	/* border: 1px solid #ccc; */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #555;
	box-sizing: border-box;
	background-color: #fff;
}

.lk_widget_inner {
	margin: 0 5% 1em;
}

.lk_widget h2 {
	font-family: sans-serif;
	font-weight: 700;
	font-size: 1.25em;
}

.lk_widget_small {
	width: 100%;
	max-width: 200px;
}

.lk_widget_big {
	width: 100%;
	max-width: 400px;
}

.lk_widget_box {
	background-color: #F0F0F0;
	font-size: 0.875em;
	padding: 1em 6% 0.2em 6%;
	margin: 0 0 1em 0;
	border: 1px solid #e2e2e2;
}

.lk_widget_box a {
	text-decoration: none;
	font-weight: 700;
	color: #546e7a;
	line-height: 2;
}

.lk_widget_box a:hover {
	color: #00838f;
}

.lk_widget_bulletpoint {
	/ * background: transparent; */
	font-size: 1em;
	padding-right: 0.5em;
}

.lk_widget_icon-circle {
	font-family: "icomoon";
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	text-transform: none;
}

.lk_widget_icon-circle:before {
	content: '\2666';
}

.lk_widget_white {
	color: #DFDFDF;
}

.lk_widget_purple {
	color: #5c3995;
}

.lk_widget_red {
	color: #b61b1b;
}

.lk_widget_green {
	color: #2d7c31;
}

.lk_widget_black {
	color: #333;
}

a.lk_widget_link_ext {
	font-size: 0.875em;
	color: #00acc1;
	text-decoration: none;
	font-weight: 400;
}

.lk_widget_box a.lk_widget_link_ext {
	font-size: 1em;
}

a.lk_widget_link_ext:after {
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* font-family: 'icomoon'; */
	content: '\2192';
	margin-left: 0.2em;
}

a.lk_widget_link_ext:hover {
	color: #00838f;
}

.lk_widget hr {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #ccc;
	border-image: none;
	border-style: solid none none;
	border-width: 0.1em 0 0;
	display: block;
	height: 0.1em;
	margin: 0 0 1em;
	padding: 0;
}
